.blog-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid yellow; */
}

.pages-content {
  margin-top: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* width: 90vw; */
  /* border: 1px solid white; */
  /* align-self: center; */
}

.back-btn-blog {
  position: sticky;
  position: -webkit-sticky;
  top: 10%;
  left: 3%;
  /* border: 1px solid red; */
  margin-left: -30px;
  color: #DADADA;
}

.blog-entry {
  display: flex;
  flex-direction: column;
  margin: 3% 7% 3% 10%;
  /* margin-left: 10%; */
  font-size: 20px;
  font-weight: lighter;
  text-align: justify;
  line-height: 1.5;
}
.blog-entry h2 {
  font-weight: lighter;
  margin-bottom: 17px;
}

.box {
  display: flex;
  width: 40%;
  height: 40vh;
  font-size: 25px;
  font-weight: lighter;
  border: 1px solid purple;
  justify-content: center;
}

@media only screen and (max-width: 850px) {
  .pages-content { 
    flex-direction: column;
    align-content: center;
  }
  .box {
    width: 80%;
  }
}