.blog-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid yellow; */
}

.pages-content {
  margin-top: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* width: 90vw; */
  /* border: 1px solid white; */
  /* align-self: center; */
}

.back-btn-blog {
  position: sticky;
  position: -webkit-sticky;
  top: 10%;
  left: 3%;
  /* border: 1px solid red; */
  margin-left: -30px;
  color: #DADADA;
}

.blog-entry {
  display: flex;
  flex-direction: column;
  margin: 3% 7% 3% 10%;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: lighter;
  text-align: justify;
  line-height: 1.5;
}
.blog-entry h2 {
  font-weight: lighter;
  margin-bottom: 17px;
}

.box {
  display: flex;
  width: 40%;
  height: 37vh;
  font-size: 25px;
  font-weight: lighter;
  text-align: center;
  /* border: 1px solid purple; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition: all 0.3s ease; */
  /* background-color: #212224;
  margin: 1%; */
}

.box-text {
  margin-top: 10px;
  display: flex;
  /* position: relative; */
  /* flex-direction: column; */
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
  font-size: 16px;
}
.btn-overText {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 80px;
  height: 40px;
  /* background-color: #212224; */
  /* color: #fff; */
  /* border: 1px solid gray; */
}

.box-in {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  opacity: 0.7;
  transition: all 0.5s ease;
  /* border: 1px dashed white; */
  width: 70%;
  /* width: 80%; */
  position: relative;
}

.box-in:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  opacity: 1;
  font-size: 14px;
}

.box-in:hover .box-text {
  opacity: 1;
  transition-duration: 0.5s;
}

/* change default color of link: */
a {
  color: #d8d8d8;
}
a:hover {
   color: #47CDDA
}

.laptopImage {
  /* visibility: hidden; */
}

@media only screen and (max-width: 850px) {
  .pages-content { 
    flex-direction: column;
    align-content: center;
  }
  .box {
    width: 80%;
  }
  .box-text {
    opacity: 0.7;
  }
  .btn-overText {
    top: 9%;
    right: 1%;
   
  }
}