/* logo animation: */
#LogoWhite {
  stroke: #DADADA;
  stroke-dasharray: 1500;
  opacity: 0.8;
  animation: animate 5s cubic-bezier(0,0.23,1,.1);
  -moz-animation: animate 5s cubic-bezier(0,0.23,1,.1);
  -webkit-animation: animate 5s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate {
  0% {
      opacity: 0;
      fill: none;
      stroke-dashoffset: 1500;
  }

  30% {
      opacity: 0.7;
      fill: none;
      stroke-dashoffset: 1500
  }

  94% {
      opacity: 0.7;
      fill: #DADADA;
  }
  100% {
      opacity: 0.8;
      /* fill: #DADADA; */
      stroke-dashoffset: 0
  }
}

.hideItem {
  display: none;
}


.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 10%;
  /* max-width: 80%;
  max-height: 90%; */
  width: 80%;
  height: 50%;
  cursor: pointer;
  will-change: transform, opacity;
  border: 1px solid #DADADA;
  font-family: 'Great Vibes' ,'Gill Sans', 'Gill Sans MT', Calibri;
  font-size: 25px;
  text-shadow: 4px 4px 3px rgba(0,0,0,1);
  background-color: rgba(33, 34, 36, 0.9);
  color: rgb(189, 187, 187);
  /* font-weight: lighter; */
  /* font-style: italic; */
  padding: 10px;
  /* text-align: center; */
  
  /* transition:  0.3s linear 0.1s; */
  /* opacity: 1; */
}

/* .card-text {
  opacity: 0;
  transition-delay: 2s;
  opacity: 1;
} */