.App {
  text-align: center;
  /* border: 1px solid blue; */
  /* padding: 20px; */
}
.image {
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans Light', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  color: #ffffff;
  height: 100vh;
  flex-direction: column;
  background-image: url('img/bigmainBG.jpg');
}
